<br><br><br><br><br>

<div class="text-center">
    <h1 class="text-uppercase text-black font-weight-bold">COMPARTE TUS AFICIONES</h1><br><br><br><br>
</div>
 
<!-- Deportes -->
<section class="showcase" id="deportes">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 showcase-img" style="background-image: url('assets/img/deportes/futbol2.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Unimos personas</h2>
          <p class="lead mb-0" style="font-family:Merriweathe, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">Promocionamos la creación de comunidades virtuales que transitan al mundo presencial utilizando los hobbies y pasiones.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/deportes/karate.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Creamos Momentos</h2>
          <p class="lead mb-0" style="font-family:Merriweathe, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">Sport Hub tiene alma, genera diversión, permite descubrir nuevos hobbies y personas a través de la generación de experiencias en vivo. ¡Crea comunidades cercanas, unidas y se gana la confianza de su audiencia!</p>
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/deportes/running.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Generamos experiencias</h2>
            <p class="lead mb-0" style="font-family:Merriweathe, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">Nuestro objetivo es que el tiempo libre de las personas sea memorable, se diviertan en comunidades cercanas y unidas compartiendo sus pasiones.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/deportes/rugby.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
            <h2>Eventos</h2>
            <p class="lead mb-0" style="font-family:Merriweathe, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">Sport Hub permite a los promotores de eventos publicitar su oferta de ocio y entretenimiento, orientándola a segmentos de personas que tienen interés en la misma. La plataforma tecnológica permite la compra de entradas a eventos y la recomendación de los mismos a otras personas.</p>
        </div>
      </div>

    </div>
</section>
  