.blockquote-footer::before {
  content: "— ";
}

.card>.list-group+.card-footer {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-group>.card:not(:last-child) .card-img-bottom,
.card-group>.card:not(:last-child) .card-footer {
  border-bottom-right-radius: 0;
}

.card-group>.card:not(:first-child) .card-footer {
  border-bottom-left-radius: 0;
}

.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer>* {
  margin: 0.25rem;
}
