<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://es-es.facebook.com/" target="_blank" role="button">       <i class="fa fa-facebook-f" aria-hidden="true"></i>  </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=es" target="_blank" role="button">      <i class="fa fa-twitter"></i>     </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.es/" target="_blank" role="button">            <i class="fa fa-google" aria-hidden="true"></i>      </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/?hl=es" target="_blank" role="button">  <i class="fa fa-instagram" aria-hidden="true"></i>   </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" target="_blank" role="button">         <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" target="_blank" role="button">               <i class="fa fa-github" aria-hidden="true"></i>      </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2021 Copyright - 
      <a class="text-white" href="https://www.linkedin.com/in/ivangarmar22/" target="_blank" >Página web desarrollada por Iván García Martín</a>
    </div>
</footer>
