<app-menu></app-menu>

<!-- Header -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">QUIENES SOMOS</h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5"></p>
            </div>
        </div>
    </div>
</header>

<br><br><br><br><br>

<!-- Título -->
<div class="text-center">
    <h1 class="text-uppercase text-black font-weight-bold">QUÉ ES SPORTHUB</h1><br><br><br><br>
</div>

<!-- Imágenes -->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0">

            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1">Unimos Personas</div>
                            <p class="mb-0">SportHub es una plataforma de entretenimiento a nivel global que une personas alrededor de sus aficiones e intereses permitiéndoles vivir experiencias presenciales a través de eventos y compartir contenidos digitalmente.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./../../../assets/img/servicios/img2.jpg" alt="..." />
                </a>
            </div>

            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1">Creamos Momentos</div>
                            <p class="mb-0">SportHub tiene alma, genera diversión, permite descubrir nuevos hobbies y personas a través de la generación de experiencias en vivo. Crea comunidades cercanas, unidas y se gana la confianza de su audiencia.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./../../../assets/img/deportes/rugby2.jpg" alt="..." />
                </a>
            </div>

            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1">Generamos Experiencias</div>
                            <p class="mb-0">El objetivo de SportHub  es que el tiempo libre de las personas sea memorable, se diviertan en comunidades cercanas y unidas compartiendo sus pasiones.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./../../../assets/img/servicios/img3.jpg" alt="..." />
                </a>
            </div>

            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1">Expertos en Hobbies</div>
                            <p class="mb-0">SportHub permite a sus usuarios practicar los hobbies de una manera social, disponiendo de una fuente de información de personas y hobbies por localización en un único lugar.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="./../../../assets/img/servicios/img4.jpg" alt="..." />
                </a>
            </div>

        </div>
    </div>
</section>
<br><br><br>

<!-- Nuestro Personal -->
<div class="site-section bg-light border-bottom" id="team-section">
    <br><br><br><br>
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2 class="heading-29190">Algunos de Nuestros Empleados</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="person text-center">
            <img src="/assets/img/empleados/empleado_1.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
            <h3>Bill Gates</h3>
            <blockquote class="quote_39823">
              <p>Montamos esta empresa de la nada, ahora estoy muy agradecido a todas las personas que lo hicieron posible.</p>
            </blockquote>
            <p>&mdash; Presidente &mdash;</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="person text-center">
            <img src="/assets/img/empleados/empleado_2.jpeg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
            <h3>Ivan García</h3>
            <blockquote class="quote_39823">
              <p>Todo surgió de una necesidad de nuestra sociedad. Hemos crecido mucho gracias al esfuerzo y a la constancia.</p>
            </blockquote>
            <p>&mdash; Director Ejecutivo &mdash;</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="person text-center">
            <img src="/assets/img/empleados/empleado_3.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
            <h3>Elon Musk</h3>
            <blockquote class="quote_39823">
              <p>Esta empresa me motiva día a día para seguir creciendo y expandiendonos. Conectamos a las personas de una manera diferente.</p>
            </blockquote>
            <p>&mdash; Responsable Operativo &mdash;</p>
          </div>
        </div>
      </div>
      <br><br><br><br>
    </div>
  </div>

<app-contacto></app-contacto>
<app-footer></app-footer>
