<!-- Servicios -->
<section class="page-section" id="servicios">
    <div class="container">
        <div class="text-center">
            <h1 class="text-uppercase text-black font-weight-bold">Servicios</h1>
            <br><br><br><br>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/servicios/img1.jpg" alt="imagen_servicios_1" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Conectamos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Sport Hub conecta a las marcas comerciales con su audiencia a través de eventos experienciales únicos.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/servicios/img2.jpg" alt="imagen_servicios_2"  /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Experiencias Reales</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Sport Hub permite a las personas disfrutar de experiencias únicas en la vida real entorno a sus pasiones, aquellas aficiones que llenan su tiempo libre y que les proporciona disfrute y felicidad. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/servicios/img3.jpg" alt="imagen_servicios_3" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Streaming</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Sport Hub está incorporando la tecnología streaming a través de la App (SportHub Live) para que cualquier usuario de una comunidad pueda realizar retransmisiones en directo de eventos y que los mismos sean almacenados en un repositorio de vídeos.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/servicios/img4.jpg" alt="imagen_servicios_4" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Únicos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Sport Hub pretende convertirse en experto en hobbies proporcionando a las personas contenidos de calidad, siendo tractor de la audiencia y ganando su confianza a través de la generación de líneas de comunicación.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Expertos<br />en<br />Hobbies!</h4>
                </div>
            </li>
        </ul>
    </div>
</section>


<div class="container">
    <div class="text-center">
        <h1 class="text-uppercase text-black font-weight-bold">DESCUBRE NUEVAS AFICIONES</h1>
    </div>
    <div class="row">
        <!-- Portfolio Deportes -->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="/comunidad">
                    <img class="img-fluid" src="./../../../../assets/img/deportes/logos_deportes.jpg" alt="deportes" />
                </a>
            </div>
    </div>
</div>
 
<br><br><br>

