<app-profile></app-profile>

<!-- Dashboard Home  -->
<main class="page-content">
  <div class="container-fluid">
    <br><br><br>
    <h1 align="center" class="text-uppercase" style="color:#000000">BIENVENIDO {{usuario}}!</h1><br><br><br>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="our-team-main">
            <div class="team-front">
              <img src="./../../../assets/img/servicios/img2.jpg" class="img-fluid" />
              <h3>Unimos Personas</h3>
            </div>
            <div class="team-back">
              <span>SportHub es una plataforma de entretenimiento a nivel global que une personas alrededor de sus
                aficiones e intereses permitiéndoles vivir experiencias presenciales a través de eventos y compartir
                contenidos digitalmente.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="our-team-main">

            <div class="team-front">
              <img src="./../../../assets/img/servicios/img1.jpg" class="img-fluid" />
              <h3>Creamos Momentos</h3>
            </div>

            <div class="team-back">
              <span>
                SportHub tiene alma, genera diversión, permite descubrir nuevos hobbies y personas a través de la
                generación de experiencias en vivo. Crea comunidades cercanas, unidas y se gana la confianza de su
                audiencia.
              </span>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="our-team-main">

            <div class="team-front">
              <img src="./../../../assets/img/servicios/img3.jpg" class="img-fluid" />
              <h3>Generamos Experiencias</h3>
            </div>

            <div class="team-back">
              <span>
                El objetivo de SportHub es que el tiempo libre de las personas sea memorable, se diviertan en
                comunidades cercanas y unidas compartiendo sus pasiones.
              </span>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="our-team-main">

            <div class="team-front">
              <img src="./../../../assets/img/servicios/img4.jpg" class="img-fluid" />
              <h3>Expertos en Hobbies</h3>
            </div>

            <div class="team-back">
              <span>
                SportHub permite a sus usuarios practicar los hobbies de una manera social, disponiendo de una fuente
                de información de personas y hobbies por localización en un único lugar.
              </span>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="our-team-main">

            <div class="team-front">
              <img src="./../../../assets/img/deportes/rugby2.jpg" class="img-fluid" />
              <h3>Experiencias Reales</h3>
            </div>

            <div class="team-back">
              <span>
                Sport Hub permite a las personas disfrutar de experiencias únicas en la vida real entorno a sus
                pasiones, aquellas aficiones que llenan su tiempo libre y que les proporciona disfrute y felicidad.
              </span>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="our-team-main">

            <div class="team-front">
              <img src="./../../../assets/img/registro1.jpg" class="img-fluid" />
              <h3>Únicos</h3>
            </div>

            <div class="team-back">
              <span>
                Sport Hub pretende convertirse en experto en hobbies proporcionando a las personas contenidos de
                calidad, siendo tractor de la audiencia y ganando su confianza a través de la generación de líneas de
                comunicación.
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
