<app-profile></app-profile>

<!-- Calendario  -->
<main class="page-content">
  <div class="container-fluid">
    <br><br>

    <div id="mes"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>JUNIO</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></div><br>

    <section id="calendar" class="collectonme">

      <div id="day-labels">
        <div class="label">LUNES</div>
        <div class="label">MARTES</div>
        <div class="label">MIÉRCOLES</div>
        <div class="label">JUEVES</div>
        <div class="label">VIERNES</div>
        <div class="label">SÁBADO</div>
        <div class="label">DOMINGO</div>
      </div>

      <div id="one" class="week">

        <div class="day">
          <span class="date">1</span>
        </div>

        <div class="day">
          <span class="date">2</span>
        </div>

        <div class="day">
          <span class="date">3</span>
        </div>

        <div class="day">
          <span class="date">4</span>
        </div>

        <div class="day">
          <span class="date">5</span>
        </div>

        <div class="day">
          <span class="date">6</span>
        </div>

        <div class="day">
          <span class="date">7</span>
        </div>

      </div>

      <div id="two" class="week">

        <div class="day">
          <span class="date">8</span>
        </div>

        <div class="day">
          <span class="date">9</span>
        </div>

        <div class="day">
          <span class="date">10</span>
            <div id="parrafo">
              <button class="btn btn-info">Torneo 3X3 Basket</button>
            </div>
        </div>

        <div class="day">
          <span class="date">11</span>
        </div>

        <div class="day">
          <span class="date">12</span>
        </div>

        <div class="day">
          <span class="date">13</span>
        </div>

        <div class="day">
          <span class="date">14</span>
          <div id="parrafo">
            <button class="btn btn-info">World Padel Tour</button>
          </div>
        </div>

      </div>

      <div id="three" class="week">

        <div class="day">
          <span class="date">15</span>
        </div>

        <div class="day">
          <span class="date">16</span>
        </div>

        <div class="day">
          <span class="date">17</span>
        </div>

        <div class="day">
          <span class="date">18</span>
        </div>

        <div class="day">
          <span class="date">19</span>
        </div>

        <div class="day">
          <span class="date">20</span>
        </div>

        <div class="day">
          <span class="date">21</span>
        </div>

      </div>

      <div id="four" class="week">

        <div class="day">
          <span class="date">22</span>
        </div>

        <div class="day">
          <span class="date">23</span>
        </div>

        <div class="day">
          <span class="date">24</span>
          <div id="parrafo">
            <button class="btn btn-info">Torneo Golf XXI</button>
          </div>
        </div>

        <div class="day">
          <span class="date">25</span>
        </div>

        <div class="day">
          <span class="date">26</span>
        </div>

        <div class="day">
          <span class="date">27</span>
        </div>

        <div class="day">
          <span class="date">28</span>
        </div>

      </div>

      <div id="five" class="week">

        <div class="day">
          <span class="date">29</span>
        </div>

        <div class="day">
          <span class="date">30</span>
        </div>

        <div class="day">
          <span class="date">31</span>
        </div>

      </div>

    </section>

<br><br>