<app-menu></app-menu>

<!-- Header -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">¡crea tu torneo!</h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5"></p>
            </div>
        </div>
    </div>
</header>

<!-- Introducción -->
<section class="page-section bg-primary" id="introduccion">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">¡Crea todo tipo de torneos!</h2>
              <hr class="divider light my-4" />
              <p class="text-white-50 mb-4">Sport Hub ofrece a sus usuarios la posibilidad de crear, gestionar y administrar todo tipo de torneos para que las personas puedan vivir nuevas experiencias a través de eventos organizados por ellos mismos y poder compartirlos luego en la misma plataforma.</p>
          </div>
      </div>
  </div>
</section>

<br><br><br><br><br>

<!-- Título -->
<h1 align="center" class="text-uppercase text-black font-weight-bold">ORGANIZA TU PROPRIO TORNEO</h1>

<!-- Formulario de contacto -->
<section class="showcase">
<div class="row p-5">
    <div class="container p-1 mx-3 marco col-5">

      <form (ngSubmit)="onSubmit()" #miForm="ngForm">
        <h2 class="h4 mb-4">Rellenas los datos</h2>

        <div class="form-group">
          <input id="nombre" type="text" class="form-control" placeholder="Nombre del Torneo" [(ngModel)]="nombre" name="nombre">
        </div>

        <div class="form-group">
          <input id="deporte" type="text" class="form-control" placeholder="Deporte" [(ngModel)]="deporte" name="deporte">
        </div>

        <div class="form-group">
          <select id="ciudad" class="form-control" placeholder="Escoge una Ciudad" placeholder="ciudad" [(ngModel)]="ciudad" name="ciudad">
            <option hidden selected>Escoge una Ciudad</option>
            <option>Málaga</option>
            <option>Marbella</option>
            <option>Ronda</option>
            <option>Mijas</option>
            <option>benalmádena</option>
            <option>Vélez-Málaga</option>
            <option>Fuengirola</option>
            <option>Estepona</option>
            <option>Torremolinos</option>
            <option>Antequera</option>
          </select>
        </div>

        <div class="form-group">
          <input id="equipo" type="number" class="form-control" value="2" min="2" max="1000" placeholder="Número Equipos" [(ngModel)]="equipos" name="participantes">
        </div>

        <div class="form-group">
          <input id="fecha" type="date" class="form-control" placeholder="Número participantes" [(ngModel)]="fecha" name="fecha">
        </div>

      </form>
    </div>
    
    <!-- Mostrar Datos Formulario -->
    <div class="container col-5">
      <br><br><br>
      <table class="table table-striped">
        <thead style="background-color:#FF8933;">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Deporte</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Equipos</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ nombre }}</td>
            <td>{{ deporte }}</td>
            <td>{{ ciudad }}</td>
            <td>{{ equipos }}</td>
            <td>{{ fecha }}</td>
          </tr>         
        </tbody>
      </table>
    </div>
  </div>  

  <div class="text-center">
      <button style="background-color:#FF8933;" class="btn btn-primary btn-xl text-uppercase"  onclick="btnBuscar()" id="btnBuscar" type="submit">Crear Torneo</button>
  </div>

  <br><br><br><br><br><br><br>
</section>



<app-contacto></app-contacto>
<app-footer></app-footer>
