<app-profile></app-profile>


<!-- Torneos  -->
<main class="page-content">
  <div class="container-fluid">

    <section>
      <div class="container">
        <h1 align="center" class="text-uppercase" style="color:#000000">NUESTROS TORNEOS</h1><br><br><br>
        <div class="row">

          <!-- Opcion 1  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
              <div class="mainflip flip-0">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/servicios/img1.jpg" alt="card image"></p>
                      <h4 class="card-title">PERSONALIZADOS</h4>
                      <p class="card-text">Crea tu propio torneo personalizado desde cero. Rápido, fácil y sencillo. No pierdas el tiempo en otras plataformas de pago.</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">PERSONALIZADOS</h4>
                      <p class="card-text">Organizar un torneo con nuestro software es extremadamente sencillo. Sin
                        necesidad de conocimientos previos de informática tendrás a tu disposición una web profesional,
                        una inscripción online, un calendario y un cuadro actualizados automáticamente y muchas otras
                        ventajas.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" href="/servicios1">
                            <i class="fa fa-plus-square fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Opcion 2  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/servicios/img2.jpg" alt="card image"></p>
                      <h4 class="card-title">FEDERACIONES Y ASOCIACIONES</h4>
                      <p class="card-text">Un sistema completo y sencillo de gestión, con aplicaciones móviles gratuitas para árbitros y jugadores.</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">FEDERACIONES Y ASOCIACIONES</h4>
                      <p class="card-text">Adquiere un software avanzado y sencillo de gestión administrativa y de competiciones. Controla las altas y bajas, da acceso a equipos, habilita formularios de inscripción, crea licencias de jugador, de directivo o de de cuerpo técnico. Crealas en multitud de colores y añádele tu imagen corporativa.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" href="/servicios1">
                            <i class="fa fa-plus-square fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Opcion 3  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/servicios/img3.jpg" alt="card image"></p>
                      <h4 class="card-title">AYUNTAMIENTOS</h4>
                      <p class="card-text">El programa de gestión de torneos optimiza el tiempo en la gestión diaria de las competiciones municipales.</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">AYUNTAMIENTOS</h4>
                      <p class="card-text">Ahorra tiempo controlando todas las competiciones con un solo clic. El gestor de competiciones es, para Ayuntamientos, una solución avanzada a través de la cual actualizar todo el servicio de deportes de una Concejalía.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" href="/servicios1">
                            <i class="fa fa-plus-square fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Opcion 4  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/servicios/img4.jpg" alt="card image"></p>
                      <h4 class="card-title">LIGAS PRIVADAS</h4>
                      <p class="card-text">Sport Hub es la forma más sencilla y económica de gestionar tus competiciones mediante un sistema avanzado de control. </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">LIGAS PRIVADAS</h4>
                      <p class="card-text">La variedad de funcionalidades incluidas en el sistema te permitará crear cualquier torneo o liga, administrar equipos, jugadores y actualizar los resultados.
                        Con Sport Hub dispondrás de un sitio web único e irrepetible.  </p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" href="/servicios1">
                              <i class="fa fa-plus-square fa-lg"></i>
                            </a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Opcion 5  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/deportes/rugby2.jpg" alt="card image">
                      </p>
                      <h4 class="card-title">INSTALACIONES DEPORTIVAS</h4>
                      <p class="card-text">Comunícate en tiempo real con tus clientes y llena tus pistas organizando los torneos más emocionantes con nuestro gestor.</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">INSTALACIONES DEPORTIVAS</h4>
                      <p class="card-text">Ofrece todas las novedades de la competición en tiempo real desde la web y para todos los participantes mediante su smartphone.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" href="/servicios1">
                            <i class="fa fa-plus-square fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Opcion 6  -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="./../../../../assets/img/deportes/running.jpg" alt="card image">
                      </p>
                      <h4 class="card-title">ADMINISTRADORES</h4>
                      <p class="card-text">Permite el acceso privado a equipos. El máximo responsable disfruta de un software avanzado.</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">ADMINISTRADORES</h4>
                      <p class="card-text">Elabora tu paquete avanzado de funciones para subir tus torneos y ligas a otro nivel. La plataforma incluye aplicación para jugadores, a través de la cual tus jugadores puedan seguir el estado actual de su competición.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" href="/servicios1">
                            <i class="fa fa-plus-square fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>
</main>
