<app-menu></app-menu>

<!-- Cabecera -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">descubre nuevos hobbies</h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5"></p>
            </div>
        </div>
    </div>
</header>

<!-- Login -->
<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>
  
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input type="text" name="email" id="email" class="fadeIn second" placeholder="Email" ngModel>
        <input type="text" name="password" id="password" class="fadeIn third" placeholder="Contraseña" ngModel>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
    </div>
</div>

<app-contacto></app-contacto>
<app-footer></app-footer>