<app-menu></app-menu>

<br><br><br><br><br><br><br><br>

<!-- Login -->
<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <br><img src="./../../../assets/img/usuarios4.png" id="icon" alt="User Icon" /><br>
      </div>
  
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input type="text" name="email" id="email" class="fadeIn second" placeholder="Email" ngModel>
        <input type="text" name="password" id="password" class="fadeIn third" placeholder="Contraseña" ngModel><br><br>
        <input type="submit" class="fadeIn fourth" value="Log In"  onclick="guardar_localstorage()">
      </form>
  
    </div>
</div>

<br><br><br><br><br>

<app-contacto></app-contacto>
<app-footer></app-footer>