<app-profile></app-profile>

<!-- Deportes -->
<main class="page-content">
  <div class="container-fluid">

    <div class="container-fluid"><br><br><br>
      <h1 align="center" class="text-uppercase" style="color:#000000">ENCUENTRA TU DEPORTE!</h1><br><br><br>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
        <div class="project-hover">
          <h2>RUGBY</h2>
          <hr />
          <p>El rugby​​ es un deporte de evasión y contacto en equipo nacido en Inglaterra. Fue en ese país donde tomó
            su nombre a partir de las reglas del fútbol elaboradas en el colegio de la ciudad de Rugby en el siglo
            XIX.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
        <div class="project-hover">
          <h2>FUTBOL</h2>
          <hr />
          <p>El fútbol​ es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos
            árbitros que se ocupan de que las normas se cumplan correctamente. Es ampliamente considerado el deporte
            más popular del mundo, pues lo practican unas 270 millones de personas.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
        <div class="project-hover">
          <h2>KARATE</h2>
          <hr />
          <p>El kárate es un arte marcial tradicional de las islas Ryūkyū pertenecientes a Japón, conocidas como la
            prefectura de Okinawa, basado en algunos estilos de las artes marciales chinas (wushu), y en menor medida
            en otras disciplinas provenientes del sureste asiático.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>RUNNING</h2>
          <hr />
          <p>Correr es un proceso complejo y coordinado que involucra a todo el cuerpo. Cada ser humano corre de una
            manera diferente, pero ciertos aspectos son generales de los movimientos de carrera comunes.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-5 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>GOLF</h2>
          <hr />
          <p>El golf es un deporte cuyo objetivo es introducir una bola en los hoyos que están distribuidos en el
            campo con el menor número de golpes, utilizando para cada tipo de golpe uno de entre un conjunto de palos
            ligeramente diferentes entre sí, ya que la cabeza del palo tiene ángulos distintos, al igual que las
            varillas tienen longitudes diferentes.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-6 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>TENIS DE MESA</h2>
          <hr />
          <p>El tenis de mesa (también conocido como ping-pong o pimpón) es un deporte de raqueta que se disputa entre
            dos jugadores o dos parejas (dobles). Es un deporte olímpico desde Seúl 1988, y el deporte con mayor
            número de practicantes, con 40 millones de jugadores compitiendo en todo el mundo.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-7 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>BEISBOL</h2>
          <hr />
          <p>El béisbol, también llamado baseball o pelota base,​ es un deporte de equipo jugado entre dos equipos de
            nueve jugadores cada uno.</p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-8 wow animated fadeInLeft">
        <div class="project-hover">
          <h2>VOLEIBOL</h2>
          <hr />
          <p>El voleibol​ es un deporte que se juega con una pelota y en el que dos equipos, integrados por seis
            jugadores cada uno, se enfrentan sobre un área de juego separada por una red central. </p>
        </div>
      </div>

    </div>
  </div>
</main>
