<!-- Dashboard -->
<div class="page-wrapper chiller-theme toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="/assets/img/empleados/empleado_1.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name"><strong>{{usuario}}</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <!-- Menú Opciones -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <!-- Opción Dashboard -->
          <li>
            <a href="/profile">
              <i class="fa fa-user-circle-o"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
          </li>
          <!-- Opción Deportes -->
          <li>
            <a href="/sports">
              <i class="fa fa-futbol-o"></i>
              <span>Deportes</span>
            </a>
          </li>
          <!-- Opción Torneos -->
          <li>
            <a href="/torneos1">
              <i class="fa fa-trophy"></i>
              <span>Torneos</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>

          <!-- Opción Personal -->
          <li class="header-menu">
            <span>Personal</span>
          </li>
          <!-- Opción Servicios -->
          <li>
            <a href="/servicios1">
              <i class="fa fa-address-card-o"></i>
              <span>Servicios</span>
            </a>
          </li>
          <!-- Opción Mapa -->
          <li>
            <a href="/mapa">
              <i class="fa fa-map-marker"></i>
              <span>Mapa</span>
            </a>
          </li>
          <!-- Opción Calendario -->
          <li>
            <a href="/calendario">
              <i class="fa fa-calendar"></i>
              <span>Calendario</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
          </li>
          <!-- Opción Documentos -->
          <li>
            <a href="/documentos">
              <i class="fa fa-folder"></i>
              <span>Documentos</span>
            </a>
          </li>
          <!-- Opción Configuración -->
          <li>
            <a href="/configuracion">
              <i class="fa fa-cog"></i>
              <span>Configuración</span>
            </a>
          </li>
        </ul>
      </div><br>

      <!-- Menú Búsqueda -->
      <div class="sidebar-search">
        <div><br>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Buscar...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Dashboard Footer  -->
    <div class="sidebar-footer">
      <a href="/profile">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="/profile">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="/login" (click)='logout()'>
        <i class="fa fa-sign-out fa-lg"></i>
      </a>
    </div>
  </nav>


  <!-- Dashboard Menú  -->
  <main class="page-content">
    <div class="container-fluid">

      <div class="container-fluid">
        <h1 align="center" class="text-uppercase" style="color:#000000">ENCUENTRA TU DEPORTE!</h1><br>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
          <div class="project-hover">
            <h2>RUGBY</h2>
            <hr />
            <p>El rugby​​ es un deporte de evasión y contacto en equipo nacido en Inglaterra. Fue en ese país donde tomó su nombre a partir de las reglas del fútbol elaboradas en el colegio de la ciudad de Rugby en el siglo XIX.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
          <div class="project-hover">
            <h2>FUTBOL</h2>
            <hr />
            <p>El fútbol​ es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos árbitros que se ocupan de que las normas se cumplan correctamente. Es ampliamente considerado el deporte más popular del mundo, pues lo practican unas 270 millones de personas.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
          <div class="project-hover">
            <h2>KARATE</h2>
            <hr />
            <p>El kárate es un arte marcial tradicional de las islas Ryūkyū pertenecientes a Japón, conocidas como la prefectura de Okinawa, basado en algunos estilos de las artes marciales chinas (wushu), y en menor medida en otras disciplinas provenientes del sureste asiático.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
          <div class="project-hover">
            <h2>RUNNING</h2>
            <hr />
            <p>Correr es un proceso complejo y coordinado que involucra a todo el cuerpo. Cada ser humano corre de una manera diferente, pero ciertos aspectos son generales de los movimientos de carrera comunes.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-5 wow animated fadeInLeft">
          <div class="project-hover">
            <h2>GOLF</h2>
            <hr />
            <p>El golf es un deporte cuyo objetivo es introducir una bola en los hoyos que están distribuidos en el campo con el menor número de golpes, utilizando para cada tipo de golpe uno de entre un conjunto de palos ligeramente diferentes entre sí, ya que la cabeza del palo tiene ángulos distintos, al igual que las varillas tienen longitudes diferentes.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-6 wow animated fadeInLeft">
          <div class="project-hover">
            <h2>TENIS DE MESA</h2>
            <hr />
            <p>El tenis de mesa (también conocido como ping-pong o pimpón) es un deporte de raqueta que se disputa entre dos jugadores o dos parejas (dobles). Es un deporte olímpico desde Seúl 1988, y el deporte con mayor número de practicantes, con 40 millones de jugadores compitiendo en todo el mundo.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-7 wow animated fadeInLeft">
          <div class="project-hover">
            <h2>BEISBOL</h2>
            <hr />
            <p>El béisbol, también llamado baseball o pelota base,​ es un deporte de equipo jugado entre dos equipos de nueve jugadores cada uno.</p>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-8 wow animated fadeInLeft">
          <div class="project-hover">
            <h2>VOLEIBOL</h2>
            <hr />
            <p>El voleibol​ es un deporte que se juega con una pelota y en el que dos equipos, integrados por seis jugadores cada uno, se enfrentan sobre un área de juego separada por una red central. </p>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>
