 <!--
 <nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav" [ngStyle]="cambiarEstilo()">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/logo.png"
          alt="logo_sport_hub" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item"><a class="nav-link active" href="/home">Inicio</a></li>
          <li class="nav-item"><a class="nav-link active" href="/deportes">Comunidad</a></li>
          <li class="nav-item"><a class="nav-link active" href="/torneos">Torneos</a></li>
          <li class="nav-item"><a class="nav-link active" href="/about">About Us</a></li>
 
        </ul>
      </div>
 
      <div class="custom-control custom-switch">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="custom-control-input" id="customSwitch1"
          name="colorFondo" [(ngModel)]="colorFondo">
        <label class="custom-control-label" for="customSwitch1"></label>
      </div>
 
    </div>
  </nav>

   <body class="home">
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
          <div class="row">
            <header>
              <div class="header-rightside">
                <ul class="list-inline header-top pull-right">
                  <div style="text-align: right">
                    <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="dropdown">
                      <img src="/assets/img/empleados/empleado_1.jpg" alt="user">&nbsp;&nbsp;&nbsp;&nbsp;
                      <button style="background-color:#ffc093;" type="button"
                        class="btn btn-primary btn-lg btn-floating">
                        <a (click)='logout()' class="fa fa-sign-in" aria-hidden="true"></a>
                      </button> &nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                  </div>
                </ul>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </body>
 -->

 <!-- Dashboard -->
 <div class="page-wrapper chiller-theme toggled">
   <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
     <i class="fas fa-bars"></i>
   </a>
   <nav id="sidebar" class="sidebar-wrapper">
     <div class="sidebar-content">
       <div class="sidebar-header">
         <div class="user-pic">
           <img class="img-responsive img-rounded" src="/assets/img/empleados/empleado_1.jpg" alt="User picture">
         </div>
         <div class="user-info">
           <span class="user-name"><strong>{{usuario}}</strong>
           </span>
           <span class="user-role">Administrator</span>
           <span class="user-status">
             <i class="fa fa-circle"></i>
             <span>Online</span>
           </span>
         </div>
       </div>
       <!-- Menú Búsqueda -->
       <div class="sidebar-search">
         <div>
           <div class="input-group">
             <input type="text" class="form-control search-menu" placeholder="Buscar...">
             <div class="input-group-append">
               <span class="input-group-text">
                 <i class="fa fa-search" aria-hidden="true"></i>
               </span>
             </div>
           </div>
         </div>
       </div>
       <!-- Menú Opciones -->
       <div class="sidebar-menu">
         <ul>
           <li class="header-menu">
             <span>General</span>
           </li>
           <!-- Opción Dashboard -->
           <li>
             <a href="#">
               <i class="fa fa-user-circle-o"></i>
               <span>Dashboard</span>
               <span class="badge badge-pill badge-warning">New</span>
             </a>
           </li>
           <!-- Opción Deportes -->
           <li>
             <a href="#">
               <i class="fa fa-futbol-o"></i>
               <span>Deportes</span>
             </a>
           </li>
           <!-- Opción Torneos -->
           <li>
             <a href="#">
               <i class="fa fa-trophy"></i>
               <span>Torneos</span>
               <span class="badge badge-pill badge-primary">Beta</span>
             </a>
           </li>

           <!-- Opción Personal -->
           <li class="header-menu">
             <span>Personal</span>
           </li>
           <!-- Opción Servicios -->
           <li>
             <a href="#">
               <i class="fa fa-address-card-o"></i>
               <span>Servicios</span>
             </a>
           </li>
           <!-- Opción Mapa -->
           <li>
             <a href="#">
               <i class="fa fa-map-marker"></i>
               <span>Mapa</span>
             </a>
           </li>
           <!-- Opción Calendario -->
           <li>
             <a href="#">
               <i class="fa fa-calendar"></i>
               <span>Calendario</span>
               <span class="badge badge-pill badge-danger">3</span>
             </a>
           </li>
           <!-- Opción Documentos -->
           <li>
             <a href="#">
               <i class="fa fa-folder"></i>
               <span>Documentos</span>
             </a>
           </li>
           <!-- Opción Configuración -->
           <li>
             <a href="#">
               <i class="fa fa-cog"></i>
               <span>Configuración</span>
             </a>
           </li>
         </ul>
       </div>
     </div>

     <!-- Dashboard Footer  -->
     <div class="sidebar-footer">
       <a href="#">
         <i class="fa fa-bell"></i>
         <span class="badge badge-pill badge-warning notification">3</span>
       </a>
       <a href="#">
         <i class="fa fa-envelope"></i>
         <span class="badge badge-pill badge-success notification">7</span>
       </a>
       <a (click)='logout()'>
         <i class="fa fa-sign-out fa-lg"></i>
       </a>
     </div>
   </nav>


   <!-- Dashboard Menú  -->
   <main class="page-content">
     <div class="container-fluid">
       <!-- Dashboard -->
       <div class="site-section bg-light border-bottom" id="team-section"></div>
       <h1 align="center" class="text-uppercase" style="color:#000000">BIENVENIDO {{usuario}}!</h1><br><br><br><br>


       <div class="container">
         <div class="row">
           <div class="col-lg-4">
             <div class="our-team-main">
               <div class="team-front">
                 <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

           <div class="col-lg-4">
             <div class="our-team-main">

               <div class="team-front">
                 <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

           <div class="col-lg-4">
             <div class="our-team-main">

               <div class="team-front">
                 <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

           <div class="col-lg-4">
             <div class="our-team-main">

               <div class="team-front">
                 <img src="http://placehold.it/110x110/4caf50/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

           <div class="col-lg-4">
             <div class="our-team-main">

               <div class="team-front">
                 <img src="http://placehold.it/110x110/e91e63/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

           <div class="col-lg-4">
             <div class="our-team-main">

               <div class="team-front">
                 <img src="http://placehold.it/110x110/2196f3/fff?text=Dilip" class="img-fluid" />
                 <h3>Dilip Kevat</h3>
                 <p>Web Designer</p>
               </div>

               <div class="team-back">
                 <span>
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque penatibus et magnis dis parturient montes,
                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                   massa.
                   Cum sociis
                   natoque.
                 </span>
               </div>

             </div>
           </div>

         </div>
       </div>
