<app-profile></app-profile>

<main class="page-content">
    <div class="container-fluid">
      <br><br><br>
      <h1 class="text-uppercase" style="color:#000000">BUSCA COMUNIDADES CERCA DE TI</h1><br>
    </div>
</main>

<iframe width="1535" height="585" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"frameborder="0"style="border:0" allowfullscreen
src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14404.914793908474!2d-4.4207410524565605!3d36.72202353132824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1622125578076!5m2!1ses!2ses"></iframe>
<script type='text/javascript'src='https://embedmaps.com/google-maps-authorization/script.js?id=2123452c36c800c417ec459762677a9e2a9a8b20'></script>
